<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8">
	<title>Contact - Zerotype Website Template</title>
	<link rel="stylesheet" href="static/style.css" type="text/css">
	<script>
		function hit(question) {
			var xhr = new XMLHttpRequest();
			xhr.open("POST", '/answer', true);
			xhr.setRequestHeader("Content-type", "application/json");
			xhr.onreadystatechange = function () {
				console.log(xhr.status);
				if (xhr.readyState === 4 && xhr.status === 200) {
					var json = JSON.parse(xhr.responseText);
					console.log(json.answer);
          document.getElementById("spinner").setAttribute('style', 'display: none;');
					var ans = document.getElementById("answer0");
					ans.innerText = json.answer[0];
          document.getElementById("answersDiv").setAttribute('style', 'display: block; opacity: 1;');
				}
			};
			var params = JSON.stringify({ "question": question });
			xhr.send(params);
			console.log("sent");
		}
	</script>
</head>
<body>
		<div id="header">
		<div style="text-align: right">
			<div class="logo" style="text-align: right" >
				<a href="index.html"></a>
			</div>
			<ul id="navigation" style="text-align: right" >
                <li>
					<a href="contact.html">تواصل معنا</a>
				</li>
                <li>
					<a href="about.html">نبذة عنا</a>
				</li>
                <li class="active">
					<a href="features.html">الخصائص</a>
				</li>
				<li>
					<a href="index.html">الصفحة الرئيسية</a>
				</li>
				
				
				
			</ul>
		</div>
	</div>
	<div id="contents">
        <img src="/static/images/icon.png" alt="Img" height="342" width="368">
		<div class="section">
			<h1 style="text-align: right" >ميزات AraQA-BERT</h1>
			<p style="text-align: right" >
				يعتبر نموذج أولي يقبل السؤال كمدخل ويعطينا الإجابة المستخرجة كمخرجات  
			</p>
          <div class = 'message' style="text-align: right">
                <label>: السؤال </label>
				<input type="text" style="text-align: right" placeholder=" ضع سؤالك هنا ؟"  name="search" id="question" onFocus="this.select();" onMouseOut="javascript:return false;"/>
                <br>
        <input style="text-align: right" type="submit" value="إرسال" name="submit"  id="GetAnswer"/>
                <div class="spinner" id="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
                <br>
		  <br>
		  <br>
                <label> : الإجابة </label>
							<div id="answersDiv">
                <textarea  style="color=black;" class="answertext" id="answer0">
                </textarea>
                </div>
							</div>
						</div>
		</div>

		</div>
	</div>
	<div id="footer">
		<div class="clearfix">
			<div id="connect">
				<a href="http://freewebsitetemplates.com/go/facebook/" target="_blank" class="facebook"></a><a href="http://freewebsitetemplates.com/go/googleplus/" target="_blank" class="googleplus"></a><a href="http://freewebsitetemplates.com/go/twitter/" target="_blank" class="twitter"></a><a href="http://www.freewebsitetemplates.com/misc/contact/" target="_blank" class="tumbler"></a>
			</div>
			<p style="text-align: center" >
				جميع الحقوق محفوظة ، أفنان ٢٠٢٠
			</p>
		</div>
	</div>
	<script>
		var button = document.getElementById("GetAnswer");
		button.onclick = function () {
			var ques = document.getElementById("question");
			var ans = document.getElementById("answer");
			console.log("hitting");
      document.getElementById("spinner").setAttribute('style', 'display: block;');
			hit(ques.value);
		};
	</script>

</body>
</html>
